[Unit]
Description="HashiCorp Consul"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
Restart=always
StartLimitBurst=3
StartLimitIntervalSec=10
TasksMax=infinity
EnvironmentFile=/TP-clustering/.env
ExecReload=/usr/local/bin/consul reload
ExecStart=/usr/local/bin/consul agent \
  -config-file=/TP-clustering/config/consul.hcl

[Install]
WantedBy=multi-user.target
